@import "../../MobileSkeleton/MobileSkeleton.scss";

$whatsapp-elment-host-background: #dcf8c6;
$grey-1: rgba(0, 0, 0, 0.45);
$sent-tick: #4fc3f7;

.whatsapp {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  width: 650px;
  min-height: 1000px; //1294px;
  background-color: #e5ddd5;
  position: relative;
  flex-direction: column;
  display: flex;
  .background-repeat {
    background-image: url(./images/bg-chat-tile-light.png);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.06;
  }
  header {
    border-bottom: 1px solid $header-footer-border;
    background-color: $header-footer-background;
    // background-color: #ededed;
    display: flex;
    box-sizing: border-box;
    height: 88px;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1000;
    .arrow-left {
      margin-left: 17px;
      width: 25px;
      height: 42px;
      background-size: 25px 42px;
      background-image: url(./images/arrow_left.jpg);
      flex: none;
    }
    .profile {
      margin-left: 54px;
      border-radius: 50%;
      width: 72px;
      height: 72px;
      flex: none;
    }
    .name {
      padding-left: 15px;
      font-size: 25px;
      color: #010101;
      flex-grow: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .icon-right {
      width: 141px;
      height: 40px;
      background-size: 141px 40px;
      background-image: url(./images/top_icons.jpg);
      margin-right: 40px;
    }
  }
  .chat-body {
    flex-grow: 1;
    padding-top: 20px;
    .chat-element {
      padding-left: 7%;
      padding-right: 7%;
      margin-bottom: 24px;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      position: relative;
      &.left {
        align-items: flex-start;
        .text-wrapper {
          .all-text {
            background-color: white;
            border-radius: 15px;
            border-top-left-radius: 0;
          }
          .lump {
            left: -16px;
            color: white;
          }
        }
      }
      .text-wrapper {
        position: relative;
        max-width: 85%;
        .lump {
          color: $whatsapp-elment-host-background;
          display: block;
          height: 26px;
          position: absolute;
          top: 0;
          width: 16px;
          z-index: 100;
          right: -16px;
        }
        .all-text {
          padding: 12px 14px 36px 18px;
          border-radius: 15px;
          border-top-right-radius: 0;
          background-color: $whatsapp-elment-host-background;
          font-size: 28.4px;
          line-height: 38px;
          box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
          textarea {
            font-size: 28.4px;
            border-radius: 8px;
            width: 90%;
            padding: 8px;
          }
          .status {
            float: right;
            margin: 0 0 -10px 8px;
            z-index: 10;
            display: flex;
            span, input {
              color: $grey-1;
              font-size: 22px;
              margin-right: 6px;
            }
            input {
              resize: horizontal;
            }
            .sent-color {
              color: $sent-tick;
            }
            .sending-color {
              color: $grey-1;
            }
          }
        }
      }
    }
  }
  footer {
    height: 88px;
    width: 100%;
    background-color: $header-footer-background;
    position: relative;
    z-index: 1000;
    border-top: 1px solid $header-footer-border;
    display: flex;
    align-items: center;
    .plus {
      margin-left: 27px;
    }
    .text-box {
      height: 60px;
      border-radius: 30px;
      flex-grow: 1;
      background-color: #fff;
      border: 1px solid $header-footer-border;
      margin-left: 27px;
      margin-right: 40px;
    }
    .mic {
      margin-left: 48px;
      margin-right: 36px;
    }
  }
}
