$elment-host-background: #72de54;
$grey-1: rgba(0, 0, 0, 0.45);
$blue: rgb(33, 150, 243);
$header-background-color: #202a43;

.line {
  width: 650px;
  min-height: 1000px; //1294px;
  background-color: #e5ddd5;
  position: relative;
  flex-direction: column;
  display: flex;
  .background-repeat {
    background-image: url(./images/background.jpg);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  header {
    background-color: $header-background-color;
    display: flex;
    box-sizing: border-box;
    height: 88px;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1000;
    .name {
      padding-left: 28px;
      font-size: 34px;
      color: white;
      flex-grow: 1;
    }
  }
  .chat-body {
    flex-grow: 1;
    .chat-element {
      padding-left: 20px;
      padding-right: 30px;
      display: flex;
      position: relative;
      display: flex;
      align-items: flex-end;
      flex-direction: row-reverse;
      &.primary {
        margin-top: 24px;
        .profile-wraper {
          align-self: flex-start;
        }
      }
      &.left {
        flex-direction: row;
        .text-wrapper {
          flex-direction: row;
          .all-text {
            background-color: white;
            .lump {
              left: -12px;
            }
          }
        }
        .text-status {
          text-align: left;
        }
      }
      .profile {
        border-radius: 50%;
        width: 66px;
        height: 66px;
        margin-right: 20px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        object-fit: cover;
      }
      .dummy-profile-wrapper {
        width: 86px;
        height: 66px;
      }
      .text-status {
        color: white;
        margin: 0 12px 8px 12px;
        text-align: right;
        font-size: 14px;
        width: 54px;
      }
      .text-wrapper {
        max-width: calc(100% - 200px);
        .profile-name {
          font-size: 18px;
          margin-bottom: 10px;
          color: white;
        }

        .all-text {
          position: relative;
          padding: 12px 22px 12px 22px;
          border-radius: 35px;
          background-color: $elment-host-background;
          font-size: 24px;
          line-height: 38px;
          .lump {
            position: absolute;
            top: 0;
            z-index: 100;
            right: -14px;
          }
        }
      }
      &.add {
        margin-top: 24px;
        cursor: pointer;
        &.left {
          float: left;
        }
        &.right {
          float: right;
        }
        .text-wrapper {
          max-width: unset;
          .all-text {
            padding: 10px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.42);
          }
        }
      }
    }
  }
  footer {
    height: 102px;
    width: 100%;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    .mid {
      flex-grow: 1;
    }
    background-image: url(./images/footer-mid.jpg);
  }
}
