$header-footer-background: #f6f6f6;
$header-footer-border: #a4a29d;

.all-mobile {
  margin: 40px;
  .mobile-skeleton {
    border: 2px solid #ddd;
    & > header {
      height: 40px;
      background-color: $header-footer-background;
      justify-content: space-between;
      display: flex;
    }
  }
}
