$header-footer-background: #f6f6f6;
$header-footer-border: #a4a29d;

.all-mobile {
  margin: 40px;
  .border-wrapper {
    border: 2px solid #ddd;
    .mobile-skeleton {
      & > header {
        height: 40px;
        width: 100%;
        display: flex;
        font-size: 22px;
        .operator {
          margin-top: 10px;
          width: 110px;
          text-align: center;
        }
        .time {
          flex-grow: 1;
          margin-top: 10px;
          text-align: center;
          font-weight: bold;
        }
        .batter-percentage {
          margin-top: 10px;
          width: 60px;
          text-align: center;
        }
        &.white {
          color: white;
        }
      }
    }
  }
}
