$header-footer-background: #f6f6f6;
$header-footer-border: #a4a29d;

#root-image {
  transform: scale(0.5);
}
.mobile-skeleton {
  flex-direction: column;
  display: flex;
  border: 2px solid #ddd;
  & > header {
    height: 40px;
    background-color: $header-footer-background;
    justify-content: space-between;
    display: flex;
  }
}
