$elment-host-background: #0099ff;
$grey-1: rgba(0, 0, 0, 0.45);
$blue: rgb(33, 150, 243);
$header-background-color: #fff;
$radius-small: 8px;
$radius-big: 35px;

.fb {
  width: 650px;
  min-height: 1000px; //1294px;
  background-color: #e5ddd5;
  position: relative;
  flex-direction: column;
  display: flex;
  .background-repeat {
    background-color: white;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  header {
    background-color: $header-background-color;
    display: flex;
    box-sizing: border-box;
    height: 84px;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1000;
    .profile {
      margin-left: 54px;
      border-radius: 50%;
      width: 72px;
      height: 72px;
      flex: none;
      cursor: pointer;
    }
    .name {
      padding-left: 28px;
      font-size: 34px;
      color: black;
      flex-grow: 1;
      font-weight: bold;
    }
  }
  .chat-body {
    flex-grow: 1;
    padding-top: 20px;
    .chat-element {
      padding-left: 20px;
      padding-right: 30px;
      margin-bottom: 4px;
      position: relative;

      display: flex;
      align-items: flex-end;
      flex-direction: row-reverse;
      &.left {
        flex-direction: row;
        .text-wrapper {
          flex-direction: row;
          .all-text {
            background-color: #f1f1f1;
            color: black;
            border-radius: $radius-small $radius-big $radius-big $radius-small;
          }
          .text-status {
            text-align: left;
          }
        }
      }
      .profile {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        margin-right: 24px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }
      .dummy-profile-wrapper {
        width: 80px;
        height: 56px;
        flex-shrink: 0;
      }

      .text-wrapper {
        max-width: calc(100% - 120px);
        .all-text {
          position: relative;
          padding: 12px 22px 12px 22px;
          border-radius: $radius-big $radius-small $radius-small $radius-big;
          background-color: $elment-host-background;
          font-size: 24px;
          line-height: 38px;
          color: white;
          &.is-top {
            border-top-left-radius: $radius-big;
            border-top-right-radius: $radius-big;
          }
          &.is-bottom {
            border-bottom-left-radius: $radius-big;
            border-bottom-right-radius: $radius-big;
            margin-bottom: 10px;
          }
        }
        .text-status {
          color: white;
          margin: 0 12px 8px 12px;
          text-align: right;
          font-size: 14px;
        }
      }
      &.add {
        cursor: pointer;
        margin-top: 40px;
        &.left {
          float: left;
        }
        &.right {
          float: right;
        }
        .text-wrapper {
          max-width: unset;
          .all-text {
            padding: 10px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.42);
          }
        }
      }
    }
  }
  footer {
    height: 104px;
    width: 100%;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    .mid {
      flex-grow: 1;
    }
    background-image: url(./images/footer-mid.jpg);
  }
}
